<%- include("partials/header", {
  title: "Home",
  pageCss: "index.css"
}) %>

<%- authenticated
  ? include("partials/authNav")
  : include("partials/nav")
%>

<!-- Empty div for the horizontal divider -->
<div class="grid__section"></div>

<!-- Uses https://getbootstrap.com/docs/5.3/examples/heroes/ -->
<%- include("partials/home/hero") %>

<!-- Empty div for the horizontal divider -->
<div class="grid__section"></div>

<%- include("partials/home/features") %>

<!-- Empty div for the horizontal divider -->
<div class="grid__section"></div>

<%- include("partials/home/cta") %>

<div class="grid__section"></div>

<!-- contains footer markup & scripts -->
<%- include("partials/footer") %>