<%- include("partials/header", { title: "Home", pageCss: "index.css" }) %> 

<%- authenticated
  ? include("partials/authNav")
  : include("partials/nav")
%>

<!-- Empty div for the horizontal divider -->
<div class="grid__section"></div>

<!-- Empty div for the horizontal divider -->
<%- include("partials/pricing/cards") %>

<div class="grid__section"></div>

<% if (!authenticated) { %>
    <div class="grid__section"></div>
    <%- include("partials/pricing/cta") %>  
<% } %>

<!-- contains footer markup & scripts -->
<%- include("partials/footer") %>
